.root {
    -fx-background-color: #3b3b3b;
    -fx-text-background-color: #ffffff;
}

.root *{
     -fx-background-color: #3b3b3b;
     -fx-text-background-color: #ffffff;
 }

.table-view {
    -fx-table-header-border-color: white;
}

.table-view * {
    -fx-background-color: #444444;
    -fx-border-color: white;
    -fx-border-width: 0.1
 }

.table-view .column-header-background * {
    -fx-border-width: 0
 }

.table-view .column-overlay {
    -fx-border-width: 0.1
}

.table-view .arrow {
    -fx-background-color: #ffffff;
    -fx-border-width: 0
}

.menu-bar * {
    -fx-background-color: #444444;
    -fx-text-fill: #ffffff;
    -fx-text-background-color: #ffffff;
}

.menu-bar {
     -fx-background-color: #444444;
     -fx-text-fill: #ffffff;
     -fx-text-background-color: #ffffff;
 }

.menu:hover{
    -fx-background-color: #545454;
}
.menu:hover > .label*{
    -fx-background-color: #545454;
}

.menu .menu-item:focused{
    -fx-background-color: #545454;
}

.menu .menu-item:focused *{
    -fx-background-color: #545454;
}

.context-menu * {
    -fx-background-color: #444444;
     -fx-text-fill: #ffffff;
     -fx-text-background-color: #ffffff;
}

.context-menu .menu-item:hover{
    -fx-background-color: #545454;
     -fx-text-fill: #ffffff;
     -fx-text-background-color: #ffffff;
}

.context-menu .menu-item:hover * {
    -fx-background-color: #545454;
     -fx-text-fill: #ffffff;
     -fx-text-background-color: #ffffff;
}

.button {
    -fx-background-color: #444444;
    -fx-text-fill: #ffffff;
    -fx-text-background-color: #ffffff;
    -fx-border-color: white;
    -fx-border-width: .1
}

.button:hover {
    -fx-background-color: #484848;
    -fx-text-fill: #ffffff;
    -fx-text-background-color: #ffffff;
    -fx-border-color: white;
    -fx-border-width: .1
}

.button:pressed {
    -fx-background-color: #545454;
    -fx-text-fill: #ffffff;
    -fx-text-background-color: #ffffff;
    -fx-border-color: white;
    -fx-border-width: .1
}

.choice-box * {
    -fx-background-color: #444444;
    -fx-text-fill: #ffffff;
    -fx-text-background-color: #ffffff;
}

.choice-box:hover * {
    -fx-background-color: #484848;
    -fx-text-fill: #ffffff;
    -fx-text-background-color: #ffffff;
}

.choice-box .menu-item:focused {
    -fx-background-color: #545454;
    -fx-text-fill: #ffffff;
    -fx-text-background-color: #ffffff;
    -fx-border-color: white;
    -fx-border-width: .1
}

.choice-box .menu-item:focused * {
    -fx-background-color: #545454;
    -fx-text-fill: #ffffff;
    -fx-text-background-color: #ffffff;
}

.cell * {
    -fx-background-color: #444444;
    -fx-border-color: white;
    -fx-border-width: .1
}

.cell:hover * {
    -fx-background-color: #484848;
}

.cell:focused * {
    -fx-background-color: #494949;
}

.table-view:focused .cell:focused * {
    -fx-background-color: #545454;
}

.list-view {
    -fx-background-color: #444444;
    -fx-text-fill: #ffffff;
    -fx-text-background-color: #ffffff;
    -fx-border-color: white;
    -fx-border-width: .1
}

.list-view * {
    -fx-background-color: #444444;
    -fx-text-fill: #ffffff;
    -fx-text-background-color: #ffffff;
    -fx-border-color: white;
    -fx-border-width: .1
}

.list-cell:focused {
    -fx-background-color: #494949;
    -fx-text-fill: #ffffff;
    -fx-text-background-color: #ffffff;
    -fx-border-color: white;
    -fx-border-width: .1
}

.list-view:focused .list-cell:focused {
    -fx-background-color: #545454;
    -fx-text-fill: #ffffff;
    -fx-text-background-color: #ffffff;
    -fx-border-color: white;
    -fx-border-width: .1
}

.list-cell:hover {
    -fx-background-color: #484848;
    -fx-text-fill: #ffffff;
    -fx-text-background-color: #ffffff;
    -fx-border-color: white;
    -fx-border-width: .1
}

.text-field {
    -fx-background-color: #444444;
    -fx-text-fill: #ffffff;
    -fx-text-background-color: #ffffff;
    -fx-border-color: white;
    -fx-border-width: .1
}

.text-field *{
    -fx-background-color: #444444;
    -fx-text-fill: #ffffff;
    -fx-text-background-color: #ffffff;
}

.progress-bar *{
    -fx-background-color: #444444;
}

.progress-bar .bar {
    -fx-background-color: #00ffff;
}

.scroll-bar * {
    -fx-background-color: #444444;
    -fx-border-color: white;
    -fx-border-width: .1
}

.scroll-bar .thumb {
    -fx-background-color: #545454;
    -fx-border-color: white;
    -fx-border-width: 0
}

.check-box {
    /* default properties */
    selected-box-color: #545454;
    box-color: #545454;
    mark-color: white;
}

.check-box:selected > .box {
    /* background color for selected checkbox */
    -fx-background-color: selected-box-color;
}

.check-box > .box {
    /* background color of unselected checkbox */
    -fx-background-color: box-color;
}

.check-box:selected > .box > .mark,
.check-box:indeterminate  > .box > .mark {
    /* modify mark color */
    -fx-background-color: mark-color;
}