.root {
    -fx-background-color: #3b3b3b;
    -fx-text-background-color: #ffffff;
}

.root *{
     -fx-background-color: #3b3b3b;
     -fx-text-background-color: #ffffff;
 }

.table-view * {
    -fx-background-color: #444444;
    -fx-text-background-color: #ffffff;
    -fx-border-color: white;
    -fx-border-width: .1
}

.menu-bar * {
    -fx-background-color: #444444;
    -fx-text-fill: #ffffff;
    -fx-text-background-color: #ffffff;
}

.menu-bar {
     -fx-background-color: #444444;
     -fx-text-fill: #ffffff;
     -fx-text-background-color: #ffffff;
 }

.menu:hover{
    -fx-background-color: #545454;
}
.menu:hover > .label*{
    -fx-background-color: #545454;
}

.menu .menu-item:focused{
    -fx-background-color: #545454;
}

.menu .menu-item:focused *{
    -fx-background-color: #545454;
}

.context-menu * {
    -fx-background-color: #444444;
     -fx-text-fill: #ffffff;
     -fx-text-background-color: #ffffff;
}

.context-menu .menu-item:hover{
    -fx-background-color: #545454;
     -fx-text-fill: #ffffff;
     -fx-text-background-color: #ffffff;
}

.context-menu .menu-item:hover * {
    -fx-background-color: #545454;
     -fx-text-fill: #ffffff;
     -fx-text-background-color: #ffffff;
}

.button {
    -fx-background-color: #444444;
    -fx-text-fill: #ffffff;
    -fx-text-background-color: #ffffff;
    -fx-border-color: white;
    -fx-border-width: .1
}

.button:hover {
    -fx-background-color: #484848;
    -fx-text-fill: #ffffff;
    -fx-text-background-color: #ffffff;
    -fx-border-color: white;
    -fx-border-width: .1
}

.button:pressed {
    -fx-background-color: #545454;
    -fx-text-fill: #ffffff;
    -fx-text-background-color: #ffffff;
    -fx-border-color: white;
    -fx-border-width: .1
}

.choice-box * {
    -fx-background-color: #444444;
    -fx-text-fill: #ffffff;
    -fx-text-background-color: #ffffff;
}

.choice-box:hover * {
    -fx-background-color: #484848;
    -fx-text-fill: #ffffff;
    -fx-text-background-color: #ffffff;
}

.choice-box .menu-item:focused {
    -fx-background-color: #545454;
    -fx-text-fill: #ffffff;
    -fx-text-background-color: #ffffff;
    -fx-border-color: white;
    -fx-border-width: .1
}

.choice-box .menu-item:focused * {
    -fx-background-color: #545454;
    -fx-text-fill: #ffffff;
    -fx-text-background-color: #ffffff;
}

.cell * {
    -fx-background-color: #444444;
    -fx-text-fill: #ffffff;
    -fx-text-background-color: #ffffff;
}

.cell:hover * {
    -fx-background-color: #484848;
    -fx-text-fill: #ffffff;
    -fx-text-background-color: #ffffff;
}

.cell:focused * {
    -fx-background-color: #494949;
    -fx-text-fill: #ffffff;
    -fx-text-background-color: #ffffff;
}

.table-view:focused .cell:focused * {
    -fx-background-color: #545454;
    -fx-text-fill: #ffffff;
    -fx-text-background-color: #ffffff;
}

.list-view {
    -fx-background-color: #444444;
    -fx-text-fill: #ffffff;
    -fx-text-background-color: #ffffff;
    -fx-border-color: white;
    -fx-border-width: .1
}

.list-view * {
    -fx-background-color: #444444;
    -fx-text-fill: #ffffff;
    -fx-text-background-color: #ffffff;
    -fx-border-color: white;
    -fx-border-width: .1
}

.list-cell:focused {
    -fx-background-color: #494949;
    -fx-text-fill: #ffffff;
    -fx-text-background-color: #ffffff;
    -fx-border-color: white;
    -fx-border-width: .1
}

.list-view:focused .list-cell:focused {
    -fx-background-color: #545454;
    -fx-text-fill: #ffffff;
    -fx-text-background-color: #ffffff;
    -fx-border-color: white;
    -fx-border-width: .1
}

.list-cell:hover {
    -fx-background-color: #484848;
    -fx-text-fill: #ffffff;
    -fx-text-background-color: #ffffff;
    -fx-border-color: white;
    -fx-border-width: .1
}

.text-field {
    -fx-background-color: #444444;
    -fx-text-fill: #ffffff;
    -fx-text-background-color: #ffffff;
    -fx-border-color: white;
    -fx-border-width: .1
}

.text-field *{
    -fx-background-color: #444444;
    -fx-text-fill: #ffffff;
    -fx-text-background-color: #ffffff;
}

.progress-bar *{
    -fx-background-color: #444444;
}

.progress-bar .bar {
    -fx-background-color: #00ffff;
}

.scroll-bar * {
    -fx-background-color: #444444;
    -fx-border-color: white;
    -fx-border-width: .1
}

.scroll-bar .thumb {
    -fx-background-color: #545454;
    -fx-border-color: white;
    -fx-border-width: 0
}